<div class="column">
  <h2>ToDo</h2>
  <ul cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="doingList" class="list" (cdkDropListDropped)="drop($event)">
    <li  class="list-item" *ngFor="let task of todo" cdkDrag>
      {{task.name}}     
      <button class="delete" title="delete item"
      (click)="deleteContent(listItem)">x</button>
    </li>
  </ul>
</div>

<div class="column">
  <h2>Doing</h2>
  <ul cdkDropList #doingList="cdkDropList" [cdkDropListData]="doing"
      [cdkDropListConnectedTo]="[todoList, doneList]" class="list" (cdkDropListDropped)="drop($event)">
    <li class="list-item" *ngFor="let task of doing" cdkDrag>{{task.name}}</li>
</ul>
</div>

<div class="column">
  <h2>Done</h2>
  <ul cdkDropList #doneList="cdkDropList" [cdkDropListData]="done"
      [cdkDropListConnectedTo]="doingList" class="list" (cdkDropListDropped)="drop($event)">
    <li class="list-item" *ngFor="let task of done" cdkDrag>{{task.name}}</li>
</ul>
</div>
