
#board {
  display: grid;
  grid-template-rows: 9% 1fr;
  min-height: 92vh;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-gap: 1em;
}

mat-form-field{
  width: 32.3%;
}

.title-input {
  margin: 0;
  border: none;
  font-weight: 700;
  font-size: inherit;
}


