
<div *ngFor="let column of columns$">
  <mat-card class="column" *ngIf="column | async">
    <h3> 
      <input maxlength="15" class="title-input" matInput value="{{column.title}}" (keyup.enter)="update(column)" >
    </h3>

    <ul cdkDropList id="col-{{+column.id}}" [cdkDropListData]="column.tasks" 
        [cdkDropListConnectedTo]="connectedTo" class="list" (cdkDropListDropped)="drop($event)">
      <li class="list-item" *ngFor="let task of tasks$" id="task-{{+task.id}}" cdkDrag fxLayout="row">
        <mat-form-field class="task-field" fxFlex>
          <input matInput (keyup.enter)="update(task)" [(ngModel)]="task.text">
        </mat-form-field>
        <button class="delete" title="Delete task" (click)="delete(task)" fxFlex>
          <mat-icon>clear</mat-icon>        
        </button>
      </li>
      <li *ngIf="expanded" class="new-task">
        <mat-form-field>
          <input matInput #newTask (keyup.enter)="add(newTask.value)">
        </mat-form-field>
      </li>
    </ul>
    <button [ngClass]="expanded ? 'collapse' : 'expand'" (click)="collapse()">
      <mat-icon>{{expanded ? 'clear' : 'add'}}</mat-icon>
    </button>
  </mat-card>
</div>
